*{
	font-family: monospace;
}

.container{
	width: 970;
	min-height: 280px;
	margin: 0 auto;
	text-align: center;
}
	.container h1{
		margin-top: 90px;
		font-size: 3em;
	}

form{
	border: solid;
	width: 250px;
	padding: 20px;
	display: inline-block;
}