<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'findpad/style.css'%}">
</head>
<body>
	{% if login_meth == "app" %}
	<a href="{% url 'logout' %}" class='back'>LOGOUT</a>
	{% endif %}
	{% if login_meth == "twitter" %}
	<button><a href="{% url 'twitter_logout' %}">Log Out</a></button>
	{% endif %}
	<div class='container'>
		<h2>Hello, {{user}}</h2>
		<h1 class='big'>I Want To:</h1>
		<a href="{% url 'show' %}" class='big'>FIND A PAD</a>
		<a href="{% url 'new' %}" class='big' id='right'>RENT OUT A PAD</a>
	</div>
</body>
</html>